.custom-section {
	height: 100vh;
}

.diagonal-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.diagonal {
    position: absolute;
    width: 200%;
    height: 400px;
    transform: rotate(45deg);
    background-color: black;
}
