<!DOCTYPE html>
<html>
<head>
	<title>The Rookie Developer Project: Contact</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>	
</head>
<body>
  
  <!-- navbar for webpage -->
  {% include "nav.html" %}

	<br></br>
	<div id='section-1'>
		<h1 id='main-title'><a href='/'>The Rookie Developer Project</a></h1>		
	</div>

    <section>
      <!-- footer of webpage -->
      {% include "footer.html" %}      
    </section>
    
</body>
</html>