<!DOCTYPE html>
<html>
<head>
	<title>The Rookie Developer Project: Home</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>	

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">    
</head>
<body>
	<nav>
		<a href='/'>Home</a>
		<a href='/about'>About</a>
		<a href='/contact'>Contact</a>
		<a href='https://github.com/brandon-kyle-bailey/the-rookie-developer/blob/master/docs/CONTRIBUTE' target="_blank">Contribute</a>
	</nav>
	<br></br>
	<div id='section-1'>
		<h1 id='main-title'><a href='/'>The Rookie Developer Project</a></h1>		
	</div>
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">The Rookie Developer</h5>
                <p class="grey-text text-lighten-4">Check us out on the sites below!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social media</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 20188888888ght The Rookie Developer Project
            <a class="grey-text text-lighten-4 right" href="#!">Author</a>
            </div>
          </div>
        </footer>
</body>
</html>
