<!DOCTYPE html>
<html>
<head>
	<title>The Rookie Developer Project: Home</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>	

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">    
</head>
<body>
	<nav>
		<a href='/'>Home</a>
		<a href='/about'>About</a>
		<a href='/contact'>Contact</a>
		<a href='https://github.com/brandon-kyle-bailey/the-rookie-developer/blob/master/docs/CONTRIBUTE' target="_blank">Contribute</a>
	</nav>
	<br></br>
	<div id='section-1'>
		<h1 id='main-title'><a href='/'>The Rookie Developer Project</a></h1>		
	</div>

    <!-- footer of webpage -->
    {% include "footer.html" %}

</body>
</html>
