  <nav>
    <div class="nav-wrapper green">
      <a href="#" class="brand-logo"><i class="material-icons"></i>The Rookie Developer Project</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">Home</i></a></li>
        <li><a href="/about"><i class="material-icons">About</i></a></li>
        <li><a href="/contact"><i class="material-icons">Contact</i></a></li>
        <li><a href="https://github.com/brandon-kyle-bailey/the-rookie-developer/blob/master/docs/CONTRIBUTING.md" target="_blank"><i class="material-icons">Contribute</i></a></li>
      </ul>
    </div>
  </nav>
